In [9]:
import pandas as pd
import numpy as np

file_path = 'AAPL.csv'
apple_data = pd.read_csv(file_path)
display(apple_data)
close_prices = apple_data['Close']

mean_pandas = close_prices.mean()
median_pandas = close_prices.median()
mode_pandas = close_prices.mode().iloc[0]  
std_dev_pandas = close_prices.std()


mean_numpy = np.mean(close_prices)
median_numpy = np.median(close_prices)
std_dev_numpy = np.std(close_prices, ddof=1)  

print("Using Pandas:")
print(f"Mean: {mean_pandas}")
print(f"Median: {median_pandas}")
print(f"Mode: {mode_pandas}")
print(f"Standard Deviation: {std_dev_pandas}")

print("\nUsing Numpy:")
print(f"Mean: {mean_numpy}")
print(f"Median: {median_numpy}")
print(f"Standard Deviation: {std_dev_numpy}")

,Date,Open,High,Low,Close,Adj Close,Volume
0,1980-12-12,0.128348,0.128906,0.128348,0.128348,0.100323,469033600
1,1980-12-15,0.122210,0.122210,0.121652,0.121652,0.095089,175884800
2,1980-12-16,0.113281,0.113281,0.112723,0.112723,0.088110,105728000
3,1980-12-17,0.115513,0.116071,0.115513,0.115513,0.090291,86441600
4,1980-12-18,0.118862,0.119420,0.118862,0.118862,0.092908,73449600
...,...,...,...,...,...,...,...
10404,2022-03-18,160.509995,164.479996,159.759995,163.979996,163.979996,123351200
10405,2022-03-21,163.509995,166.350006,163.009995,165.380005,165.380005,95811400
10406,2022-03-22,165.509995,169.419998,164.910004,168.820007,168.820007,81532000
10407,2022-03-23,167.990005,172.639999,167.649994,170.210007,170.210007,98062700
10408,2022-03-24,171.059998,174.139999,170.210007,174.070007,174.070007,90018700

Using Pandas:
Mean: 13.966756942837927
Median: 0.46875
Mode: 0.399554
Standard Deviation: 30.191696361026313

Using Numpy:
Mean: 13.966756942837927
Median: 0.46875
Standard Deviation: 30.191696361026313